.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.category-list {
  list-style: none;
  text-align: left;
}
.category-list a {
  text-decoration: none;
  text-transform: capitalize;
  color: mediumslateblue;

}

.default-view {
  width: 320px;
  margin: 0 auto;
}
